body{
    background-color: aquamarine;

}

#brillo {
    filter: brightness(60%);
}

 #botontransparente {
        background: none;    
    }
.brillito {
    filter: brightness(50%);
}
 .jumbotron {
    background: none;             /* Transparent background */}

